pytest
pytest-cov
pytest-mock
requests
gitpython
ghapi
wandb>=0.16.0
urllib3<2.0.0
pyyaml
grep-ast
tiktoken
dynaconf
jinja2
diff-cover
openai
anthropic
sqlalchemy
tree-sitter
tree-sitter-python
litellm
tenacity
psutil
setuptools
