pytest
pytest-cov
pytest-mock
requests
gitpython
pyyaml
multilspy
wandb
dynaconf
jinja2
beautifulsoup4
sqlalchemy
diff-cover
tenacity
numpy
litellm
openai
tiktoken
boto3
google-cloud-aiplatform
grep_ast
tree_sitter
tree_sitter_languages
jedi-language-server